@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('truetype');
}

:root {

  /*color vars*/
  --text-color: #ffffff;
  --primary-background-color: #121212;
  --secondary-background-color: #1a1a1a;
  --accent-color: #fa9c89;
  --primary-100-color: #86a9bd;
  --primary-25-color: #282828;
  --primary-10-color: #3f3f3f;

  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;*/
  background-color: var(--main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html ,body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  background-color: var(--primary-background-color);
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
  --text-color: #050533;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f2f1e8;
  --accent-color: #e34234;
  --primary-100-color: #0d698b;
  --primary-25-color: #c2d3db;
  --primary-10-color: #e9eff3;
  }
}

a:hover {
  color: #747bff;
}

button {
  /*background-color: #f9f9f9;*/
  background-color: var(--secondary-background-color);
}

.BackgroundFilter {
  background-color: rgba(77, 77, 77, 0.184);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}