@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('truetype');
}

:root {
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html ,body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100%;
  width: 100%;
  color: #050533;
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
